/* GENERALE */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.wrapper {
    margin-inline: 5vw;
}

/* HEADER */

#header {
    background-image: url("./img/pattern.png");
    background-color: #4DA1FF;
    background-size: 280px;
    block-size: 90px;
    border: 2px dotted red;
}

#logo {
    border: 2px dotted red;
    margin-block-start: 35px;
    overflow: hidden;
    block-size: 50%;
}

/* MAIN */

#headline {
    margin-bottom: auto;
}

.grey-text {
    color: grey;
}

.blue-text {
    color: #3488B9;
}

.highlighted {
    background-color: #FFFE00;
}

#date {
    font-size: 0.7rem;
    margin-block-end: 10px;
}

.photo-desc {
    font-size: 0.7rem;
    margin-block-end: 10px;
}

p {
    margin: auto;
}

/* TABLE */

table {
    border-collapse: collapse;
    margin-block: 20px;
}

thead {
    text-align: left;
    background-color: #1FA9E5;
}

th {
    color: whitesmoke;
}

.td-lorem {
    width: 20vw;
    height: 100px;
}

.light-blue-tr {
    background-color: #B2E3F2;
}

/* FOOTER */

#foot {
    font-size: 0.9rem;
}