/* GENERALE */

body {
    margin: 0px;
}

.wrapper {
    margin-inline: 50px;
}

/* HEADER */

.header {
    background-image: url("./img/pattern.png");
    background-color: #4DA1FF;
    background-size: 300px;
    height: 90px;
}

.header img {
    margin-top: 40px;
    block-size: 50%;
}

/* MAIN */

h1 {
    margin-bottom: 0px;
}

p {
    margin: 0px;
}

.grey-text {
    color: grey;
}

.blue-text {
    color: #3488B9;
}

.highlighted {
    background-color: #FFFE00;
}

.small-text {
    font-size: 0.7rem;
    margin-bottom: 20px;
}

/* TABLE */

table {
    border-collapse: collapse;
    margin-block: 20px;
}

thead {
    text-align: left;
    background-color: #1FA9E5;
    color: whitesmoke;
}

.table-cell {
    width: 25%;
}

.light-blue-row {
    background-color: #B2E3F2;
}

/* FOOTER */

.article {
    font-size: 1.4rem;
    color: whitesmoke;

    width: 300px;
    height: 200px;
    margin-block: 20px;
}

#articolo-1 {
    background-image: url(./img/monitor.jpg);
}

#articolo-2 {
    background-image: url(./img/graph.jpg);
}
